# Notion integration
NOTION_API_KEY= Enter_your_API_key
NOTION_DATABASE_ID= Enter_DB_ID

# Slack integration
SLACK_WEBHOOK_URL= Enter_slack_webhook_url

# Blog integration
BLOG_BASE_URL= Enter_wordpress_url #Any blog post can be used. 
BLOG_API_KEY= Enter_your_API_key

# Email integration
EMAIL_SERVICE_API_KEY= Enter_your_API_key
EMAIL_FROM= email@resend.dev # current project uses resend. 
EMAIL_TO= Enter_your_email

# App config
DEBUG=True
DATABASE_URL= Enter_DB_URL
